* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.container{
    height: 600px;
    width: 250px;
    background: #000;
    position: relative;
    overflow: hidden;
}
.green{
    height: 100%;
    width: 100%;
    background-color: green;
    position: absolute;
    right: -100%;
    transition: all ease 0.5s;
}
.red{
    height: 100%;
    width: 100%;
    background-color: red; 
    position: absolute;
    left: -100%;
    transition: all ease 0.5s;
}
.container:hover .red{
     left: 0;
}

.container:hover .green{
    right: 0;
}
